.app {
    margin: 0 auto;
    width: 1200px;
    max-width: 80%;
    display: flex;
}

.toolbar {
    width: 30px;
    background: #c0c0c0;
}

.canvas {
    width: 100%;
    min-height: 600px;
}

button.active {
    background: red;
}
